/*
 * Copyright (c) 2025 Custom Hardware Configuration
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 * 
 * Device tree overlay for custom audio hardware with:
 * - SPI1 for LCD display (ST7789) and MicroSD card
 * - I2S0 for PCM5102A DAC audio output
 * - ADC for resistor ladder buttons on AIN0
 * - GPIO controls for amplifier and charging
 */

&spi1 {
	status = "okay";
	cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>,  /* MSD_CS - MicroSD chip select */
	           <&gpio1 5 GPIO_ACTIVE_LOW>;   /* SST_CS - ST7789 chip select */
	
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";

	/* ST7789 LCD Display */
	lcd_st7789: st7789@1 {
		compatible = "sitronix,st7789v";
		reg = <1>;
		spi-max-frequency = <20000000>;
		
		width = <240>;
		height = <280>;
		x-offset = <0>;
		y-offset = <20>;
		madctl = <0x00>;
		colmod = <0x05>;
		
		/* Display control GPIO pins */
		dc-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;  /* SST_DC - Data/Command */
		reset-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;  /* SST_RES - Hardware Reset */
		
		label = "ST7789";
	};

	/* MicroSD Card via SPI */
	mmc_spi: mmc_spi@0 {
		compatible = "zephyr,mmc-spi-slot";
		reg = <0>;
		spi-max-frequency = <25000000>;
		label = "SDCARD";
	};
};

/* Configure SPI1 pins: SCK=P1.02, MOSI=P0.09, MISO=P1.03 */
&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 2)>,   /* P1.02 - SCK */
				<NRF_PSEL(SPIM_MOSI, 0, 9)>,  /* P0.09 - MOSI */
				<NRF_PSEL(SPIM_MISO, 1, 3)>;  /* P1.03 - MISO */
			bias-disable;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 2)>,
				<NRF_PSEL(SPIM_MOSI, 0, 9)>,
				<NRF_PSEL(SPIM_MISO, 1, 3)>;
			low-power-enable;
		};
	};

	i2s0_default: i2s0_default {
		group1 {
			psels = <NRF_PSEL(I2S_SCK_M, 0, 16)>,  /* P0.16 - BCK (Bit Clock) */
				<NRF_PSEL(I2S_LRCK_M, 0, 21)>,     /* P0.21 - LRCK (Word Select) */
				<NRF_PSEL(I2S_SDOUT, 0, 19)>;      /* P0.19 - DIN (Data Output to DAC) */
			bias-disable;
		};
	};

	i2s0_sleep: i2s0_sleep {
		group1 {
			psels = <NRF_PSEL(I2S_SCK_M, 0, 16)>,
				<NRF_PSEL(I2S_LRCK_M, 0, 21)>,
				<NRF_PSEL(I2S_SDOUT, 0, 19)>;
			low-power-enable;
		};
	};
};

/* I2S0 Audio Interface - PCM5102A DAC */
&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-1 = <&i2s0_sleep>;
	pinctrl-names = "default", "sleep";
};

/* ADC for button ladder and battery sensing */
&adc {
	status = "okay";
	
};

/* GPIO Pin Definitions and Controls */
&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

/* Amplifier Control GPIO */
/ {
	amp_control {
		compatible = "gpio-leds";
		status = "okay";
		
		/* TPA6132A2 Amplifier Shutdown (Active Low) */
		amp_shutdown: amp_shutdown {
			gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
			label = "AMP_SHDN";
		};
		
		/* Audio Output Mute Control */
		amp_mute: amp_mute {
			gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
			label = "AMP_MUTE";
		};
	};

	power_monitoring {
		compatible = "gpio-leds";
		status = "okay";
		
		/* Battery Charger Status (Open-Drain, MCP73831 STAT pin) */
		bat_chg: bat_chg {
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			label = "BAT_CHG";
		};
		
		/* USB VBUS Detection */
		vbus_detect: vbus_detect {
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
			label = "VBUS_DETECT";
		};
		
		/* Button Wake Interrupt - Rising edge trigger */
		btn_wake: btn_wake {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			label = "BTN_WAKE";
		};
	};
};
